a{
text-decoration: none;
color: black;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}

logo {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 34px;
  top: 34px;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;

  width: 66px;
  height: 64px;
  left: 300px;
  top: 272px;
}



h1{
  position: absolute;
  width: 600px;
  height: 53px;
  left: 300px;
  top: 130px;

  font-family:sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;

  color: #000000;
}

h2{

  position: absolute;
  width: 200px;
  height: 27px;
  left: 380px;
  top: 260px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

h3{
  position: absolute;
  width: 279px;
  height: 25px;
  left: 380px;
  top: 290px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #787575;
}



head1{
  position: absolute;
width: 65px;
height: 20px;
left: 890px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head2{
  position: absolute;
width: 76px;
height: 20px;
left: 985px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head3{
  position: absolute;
width: 55px;
height: 20px;
left: 1090px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head4{
  position: absolute;
  width: 65px;
  height: 20px;
  left: 1176px;
  top: 42px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

head5{ position: absolute;
width: 52px;
height: 20px;
left: 1270px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head6{
  position: absolute;
  width: 52px;
  height: 20px;
  left: 1330px;
  top: 42px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

line{
  position: absolute;
width: 840px;
height: 0px;
left: 295px;
top: 375px;

border: 1px solid #787575;
transform: rotate(-0.15deg);
}

p1{
  position: absolute;
width: 850px;
height: 135px;
left: 296px;
top: 420px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;

color: #000000;
}

t1{
position: absolute;
width: 600px;
height: 34px;
left: 296px;
top: 595px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 34px;

color: #000000;
}

.glasscastle{
position: absolute;
width: 150px;
height: 238px;
left: 345px;
top: 667px;
}

p2{
  position: absolute;
  width: 630px;
  height: 135px;
  left: 530px;
  top: 667px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

h4{
  position: absolute;
width: 412.98px;
height: 41px;
left: 540px;
top: 810px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 27px;
}

t2{

  position: absolute;
  width: 460px;
  height: 34px;
  left: 296px;
  top: 974px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

.educated{
  position: absolute;
  width: 150px;
  height: 238px;
  left: 345px;
  top: 1046px;

  border: 2px solid #000000;
box-sizing: border-box;
}

p3{
  position: absolute;
  width: 630px;
  height: 135px;
  left: 530px;
  top: 1046px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

t3{
  position: absolute;
  width: 460px;
  height: 34px;
  left: 296px;
  top: 1353px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

h5{
  position: absolute;
width: 450px;
height: 41px;
left: 540px;
top: 1175px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 27px;
}

.outliers{
  position: absolute;
  width: 150px;
  height: 238px;
  left: 345px;
  top: 1425px;

  border: 2px solid #000000;
  box-sizing: border-box;
}

p4{
  position: absolute;
  width: 630px;
  height: 135px;
  left: 530px;
  top: 1425px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

h6{
  position: absolute;
width: 600px;
height: 41px;
left: 540px;
top: 1550px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 27px;
}

t4{
  position: absolute;
  width: 900px;
  height: 34px;
  left: 296px;
  top: 1732px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

.houseinthesky{
  position: absolute;
  width: 150px;
  height: 238px;
  left: 345px;
  top: 1806px;

  border: 2px solid #000000;
  box-sizing: border-box;
}

p5{
  position: absolute;
  width: 630px;
  height: 135px;
  left: 530px;
  top: 1806px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

h7{
  position: absolute;
width: 520px;
height: 41px;
left: 540px;
top: 1993px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 27px;
}

t5{
  position: absolute;
  width: 900px;
  height: 34px;
  left: 296px;
  top: 2113px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

.zerotoone{
  position: absolute;
  width: 150px;
  height: 238px;
  left: 345px;
  top: 2187px;

  border: 2px solid #000000;
  box-sizing: border-box;
}

p6{
  position: absolute;
  width: 630px;
  height: 135px;
  left: 530px;
  top: 2187px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

h8{
  position: absolute;
width: 520px;
height: 41px;
left: 540px;
top: 2355px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;
}

t5{
  position: absolute;
  width: 900px;
  height: 34px;
  left: 296px;
  top: 2113px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

.zerotoone{
  position: absolute;
  width: 150px;
  height: 238px;
  left: 345px;
  top: 2187px;

  border: 2px solid #000000;
  box-sizing: border-box;
}

p6{
  position: absolute;
  width: 630px;
  height: 135px;
  left: 530px;
  top: 2187px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

h8{
  position: absolute;
width: 520px;
height: 41px;
left: 540px;
top: 2355px;

font-family: sans-serif;
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 27px;
}

t6{
  position: absolute;
  width: 900px;
  height: 34px;
  left: 296px;
  top: 2510px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}
line1{
  position: absolute;
width: 840px;
height: 0px;
left: 295px;
top: 2470px;

border: 1px solid #787575;
transform: rotate(-0.15deg);
}


upnext{
  position: absolute;
width: 800px;
height: 315px;
left: 330px;
top: 2580px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 35px;

color: #000000;
}
