

/* BORDER TRANSITIONS */
/* Border Fade */
.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px #2098D1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}


body{
background: white;
}
a {
text-decoration: none;
color: black;
}

logo {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 34px;
  top: 34px;


}

h1{
  position: absolute;
  width: 423px;
  height: 53px;
  left: 103px;
  top: 134px;

  font-family:sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 53px;

  color: #000000;

}

h2{
  position: absolute;
width: 771px;
height: 31px;
left: 103px;
top: 199px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 31px;

color: #000000;
}

head1{
  position: absolute;
width: 65px;
height: 20px;
left: 948px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;

}

head2{
  position: absolute;
width: 76px;
height: 20px;
left: 1040px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}
head3{
  position: absolute;
width: 55px;
height: 20px;
left: 1143px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;

}
head4{
  position: absolute;
  width: 65px;
  height: 20px;
  left: 1225px;
  top: 42px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

}
head5{ position: absolute;
width: 52px;
height: 20px;
left: 1317px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;

}

box3{
  position: absolute;
width: 400px;
height: 69.7px;
left: 103px;
top: 328px;

background: #FFFFFF;
border: 2px solid #A9213A;
box-sizing: border-box;
border-radius: 22px;
}

h3{
  position: absolute;
width: 327.74px;
height: 60.2px;
left: 138.27px;
top: 330px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
text-align: center;

color: #000000;
}

p3{
  position: absolute;
width: 442px;
height: 297.87px;
left: 108px;
top: 437px;

font-family:sans-serif;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 37px;
/* or 161% */


color: #000000;
}

pic1{
  position: absolute;
width: 346px;
height: 400px;
left: 720px;
top: 328px;

background: url(Screen Shot 2020-07-27 at 4.30.png);
border: 1px solid #000000;
box-sizing: border-box;
}

pic2{
  position: absolute;
width: 291px;
height: 218px;
left: 1095px;
top: 330px;

background: url(Screen Shot 2020-07-26 at 6.27.png);
border: 1px solid #000000;
box-sizing: border-box;
}

pic3{
  position: absolute;
width: 289px;
height: 157px;
left: 1097px;
top: 571px;

background: url(Screen Shot 2020-07-27 at 4.31.png);
border: 1px solid #000000;
box-sizing: border-box;
}

box4{
  position: absolute;
width: 400px;
height: 70.14px;
left: 103px;
top: 842.54px;

background: #FFFFFF;
border: 2px solid #A9213A;
box-sizing: border-box;
border-radius: 22px;
}

p4{
  position: absolute;
width: 442px;
height: 223.4px;
left: 117px;
top: 983.42px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 37px;
/* or 161% */


color: #000000;
}

h4{
  position: absolute;
width: 327.74px;
height: 60.58px;
left: 138.27px;
top: 838px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
text-align: center;

color: #000000;
}

pic4{
  position: absolute;
width: 580px;
height: 392.46px;
left: 776px;
top: 843px;

background: url(soccer photos.jpg);
border-radius: 20px;
}

box5{
  position: absolute;
width: 50px;
height: 50px;
left: 856px;
top: 1280px;

background: white;
border-radius: 16px;
}
