
logo {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 34px;
  top: 34px;

}
a{
  text-decoration: none;
  color: black;
}

h1{
position: absolute;
width: 528px;
height: 55px;
left: 96px;
top: 140px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 53px;

color: #000000
}

h2{
  position: absolute;
width: 692px;
height: 31px;
left: 96px;
top: 200px;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 31px;

color: #000000;
}

head1{
  position: absolute;
width: 65px;
height: 20px;
left: 948px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head2{
  position: absolute;
width: 76px;
height: 20px;
left: 1040px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head3{
  position: absolute;
width: 55px;
height: 20px;
left: 1143px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head4{
  position: absolute;
  width: 65px;
  height: 20px;
  left: 1225px;
  top: 42px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

head5{ position: absolute;
width: 52px;
height: 20px;
left: 1317px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

t1{
  position: absolute;
width: 602px;
height: 75px;
left: 201px;
top: 706px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;
}

t2{
  position: absolute;
  width: 602px;
  height: 66px;
  left: 201px;
  top: 1295px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

t3{
  position: absolute;
width: 597px;
height: 88px;
left: 197px;
top: 1856px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
text-align: center;

color: #000000;
}

t4{
  position: absolute;
width: 636px;
height: 75px;
left: 163px;
top: 2424px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;
}

t5{
  position: absolute;
  width: 579px;
  height: 88px;
  left: 210px;
  top: 2995px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

p1 {
  position: absolute;
  width: 463px;
  height: 258px;
  left: 270px;
  top: 425px;

  border: 4px solid #000000;
  box-sizing: border-box;
}

p2{
  position: absolute;
width: 463px;
height: 258px;
left: 270px;
top: 1008px;

border: 4px solid #000000;
box-sizing: border-box;
}

p3{
  position: absolute;
  width: 127px;
  height: 248px;
  left: 161px;
  top: 1558px;

  border: 2px solid #000000;
  box-sizing: border-box;
}

p3a{
  position: absolute;
width: 127px;
height: 248px;
left: 313px;
top: 1558px;

border: 2px solid #000000;
box-sizing: border-box;
}
p3b{
  position: absolute;
  width: 337px;
  height: 242px;
  left: 466px;
  top: 1561px;

  border: 2px solid #000000;
  box-sizing: border-box;

}

p4{
  position: absolute;
  width: 463px;
  height: 258px;
  left: 249px;
  top: 2136px;

  border: 4px solid #000000;
  box-sizing: border-box;

}

p5{
  position: absolute;
  width: 463px;
  height: 258px;
  left: 249px;
  top: 2710px;

  border: 4px solid #000000;
  box-sizing: border-box;

}

 b1{
   position: absolute;
width: 898px;
height: 475px;
left: 104px;
top: 373px;
z-index: -1

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 19px;
 }
 b2{
   position: absolute;
width: 898px;
height: 475px;
left: 110px;
top: 946px;
z-index: -1

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 19px;
 }
 b3{
   position: absolute;
width: 904px;
height: 471px;
left: 114px;
top: 1521px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;
z-index: -1;
 }

 b4{
   position: absolute;
width: 898px;
height: 475px;
left: 110px;
top: 2090px;
z-index: -1

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 17px;
 }

 b5{
   position: absolute;
width: 898px;
height: 475px;
left: 110px;
top: 2663px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;
z-index: -1
 }

 box1{
   position: absolute;
width: 499px;
height: 290px;
left: 850px;
top: 463px;



background: #252121;
border-radius: 16px;
 }

 box2{
   position: absolute;
width: 499px;
height: 290px;
left: 856px;
top: 1036px;

background: #252121;
border-radius: 16px;
 }

 box3{
   position: absolute;
width: 499px;
height: 290px;
left: 860px;
top: 1591px;
background: #252121;
border-radius: 16px;

 }

 box4{
   position: absolute;
width: 499px;
height: 290px;
left: 856px;
top: 2183px;

background: #252121;
border-radius: 17px;
 }

 box5{

   position: absolute;
width: 499px;
height: 290px;
left: 856px;
top: 2756px;

background: #252121;
border-radius: 16px;
 }

 hd1{
   position: absolute;
width: 272px;
height: 45px;
left: 966px;
top: 522px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 33px;
line-height: 45px;
/* identical to box height */


color: #FFFFFF;
 }

 sub1{
   position: absolute;
width: 94px;
height: 27px;
left: 1063px;
top: 597px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #C4C4C4;

 }

 l1{
   position: absolute;
width: 44.34px;
height: 17.89px;
left: 1066px;
top: 676px;


font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
z-index: 10;

color: #000000;

 }

 bb1{
   position: absolute;
width: 131px;
height: 34px;
left: 1036px;
top: 668px;

background: #FFFFFF;
border-radius: 9px;


 }

 i1{
   position: absolute;
width: 27px;
height: 22px;
left: 1121px;
top: 676px;
 }

 hd2{
   position: absolute;
width: 168px;
height: 45px;
left: 1018px;
top: 1092px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 33px;
line-height: 45px;
/* identical to box height */


color: #FFFFFF;


}
 sub2{

   position: absolute;
   width: 280px;
   height: 27px;
   left: 978px;
   top: 1170px;

   font-family: sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 27px;

   color: #C4C4C4;

}

 l2{
   position: absolute;
width: 44.34px;
height: 17.89px;
left: 1072px;
top: 1247px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;

color: #000000;
z-index: 1;


 }

 bb2{
   position: absolute;
 width: 131px;
 height: 34px;
 left: 1042px;
 top: 1241px;

 background: #FFFFFF;
 border-radius: 9px;


 }

 i2{
   position: absolute;
 width: 27px;
 height: 22px;
 left: 1127px;
 top: 1249px;
 }

 hd3{
   position: absolute;
width: 150px;
height: 41px;
left: 1048px;
top: 1664px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;
/* identical to box height */


color: #FFFFFF;
 }

 sub3{

   position: absolute;
width: 344px;
height: 49px;
left: 948px;
top: 1736px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #C4C4C4;
 }

l3{

position: absolute;
width: 43px;
height: 20px;
left: 1067px;
top: 1804px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
z-index: 1;
color: #000000;
}

bb3{
  position: absolute;
width: 131px;
height: 34px;
left: 1044px;
top: 1796px;

background: #FFFFFF;
border-radius: 11px;
}

i3{
  position: absolute;
  width: 35px;
  height: 18px;
left: 1125px;
top: 1804px;
}

hd4{
  position: absolute;
width: 190px;
height: 37px;
left: 1019px;
top: 2282px;

font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 37px;
/* identical to box height */


color: #FFFFFF;
}

sub4{
  position: absolute;
width: 395px;
height: 27px;
left: 908px;
top: 2341px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #C4C4C4;
}

hd5{
  position: absolute;
  width: 191px;
  height: 37px;
  left: 1022px;
  top: 2820px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 37px;
  /* identical to box height */


  color: #FFFFFF;

}

sub5{
  position: absolute;
width: 419px;
height: 54px;
left: 896px;
top: 2874px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #C4C4C4;
}

l5{
  position: absolute;
width: 43px;
height: 20px;
left: 1057px;
top: 2975px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
text-align: center;
z-index: 1;
color: #000000;
}

bb5{
  position: absolute;
width: 131px;
height: 34px;
left: 1034px;
top: 2968px;

background: #FFFFFF;
border-radius: 11px;
}

i5{
  position: absolute;
width: 25px;
height: 18px;
left: 1113px;
top: 2977px;

}

box6{

  position: absolute;
width: 50px;
height: 50px;
left: 856px;
top: 3200px;

background: white;
border-radius: 16px;
}
