a{
  text-decoration: none;
  color: black;
}

h1{
position: absolute;
width: 528px;
height: 55px;
left: 96px;
top: 140px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 53px;

color: #000000
}

h2{
  position: absolute;
width: 692px;
height: 31px;
left: 96px;
top: 200px;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 31px;

color: #000000;
}

h3{
  position: absolute;
width: 367px;
height: 61px;
left: 740px;
top: 280px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 61px;

color: #000000;
}

h4{
  position: absolute;
width: 343px;
height: 61px;
left: 745px;
top: 850px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 61px;

color: #000000;
}


head1{
  position: absolute;
width: 65px;
height: 20px;
left: 948px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head2{
  position: absolute;
width: 76px;
height: 20px;
left: 1040px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head3{
  position: absolute;
width: 55px;
height: 20px;
left: 1143px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

head4{
  position: absolute;
  width: 65px;
  height: 20px;
  left: 1225px;
  top: 42px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

head5{ position: absolute;
width: 52px;
height: 20px;
left: 1317px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}

logo {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 34px;
  top: 34px;
}

main1{
  position: absolute;
width: 612px;
height: 270px;
left: 745px;
top: 410px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;

color: #000000
}

stem{
  position: absolute;
  border-radius: 31px;
width: 591px;
height: 488px;
left: 96px;
top: 330px;

background: url(photos/stem.png);
border-radius: 31px;
}

button1{
  position: absolute;
width: 88px;
height: 27px;
left: 990px;
top: 740px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #000000
}

box1{
  position: absolute;
width: 170px;
height: 50px;
left: 944px;
top: 730px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 21px;
}

onwie{
  position: absolute;
width: 591px;
height: 450px;
left: 96px;
top: 900px;
}

main2{
  position: absolute;
width: 612px;
height: 270px;
left: 745px;
top: 990px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 30px;

color: #000000;
}

button2{
  position: absolute;
width: 88px;
height: 27px;
left: 990px;
top: 1270px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #000000
}

box2{
  position: absolute;
width: 170px;
height: 50px;
left: 944px;
top: 1260px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 21px;
}
