

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.03);
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}


logo {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 34px;
  top: 34px;
}

a {
text-decoration: none;
color: black;
}

h1{
  position: absolute;
  width: 650px;
  height: 43px;
  left: 74px;
  top: 122px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 54px;

  color: #000000;
}


head1{
  position: absolute;
width: 65px;
height: 20px;
left: 890px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;

}

head2{
  position: absolute;
width: 76px;
height: 20px;
left: 985px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;
}
head3{
  position: absolute;
width: 55px;
height: 20px;
left: 1090px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;

}
head4{
  position: absolute;
  width: 65px;
  height: 20px;
  left: 1176px;
  top: 42px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

}
head5{ position: absolute;
width: 52px;
height: 20px;
left: 1270px;
top: 42px;

font-family: sans-serif;
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 20px;

color: #000000;

}

head6{
  position: absolute;
  width: 52px;
  height: 20px;
  left: 1330px;
  top: 42px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

box1{
  position: absolute;
  width: 1087px;
  height: 137px;
  left: 115px;
  top: 285px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;

}

headbook{

  position: absolute;
width: 681px;
height: 65px;
left: 140px;
top: 296px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;

color: rgba(51, 42, 42, 0.97);
}

subbook{
  position: absolute;
width: 942px;
height: 34px;
left: 140px;
top: 367px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;
/* identical to box height */


color: #5a5a5a;

}

date1{

position: absolute;
width: 133.7px;
height: 36.4px;
left: 25px;
top: 325px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;

color: #a6a6a6;

transform: rotate(-89.48deg);
}

box2{
  position: absolute;
  width: 1087px;
  height: 137px;
  left: 115px;
  top: 468.47px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}

headsoccer{
  position: absolute;
  width: 440px;
  height: 80.91px;
  left: 140px;
  top: 482px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;

  color: rgba(51, 42, 42, 0.97);

}

subsoccer{
  position: absolute;
  width: 997px;
  height: 68px;
  left: 140px;
  top: 549px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;

  color: #5a5a5a;
}

date2{

position: absolute;
width: 133.7px;
height: 36.4px;
left: 27px;
top: 510px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;

color: #a6a6a6;

transform: rotate(-89.48deg);
}
